<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .book-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            {{#each books}}
                <a href="/home/book/{{BookID}}" class="col-md-2 col-sm-4 col-6 my-2 btn mx-2">
                    <div class="card book-item">
                        <div class="card-body">
                            <img class="h2 w2" src="a" alt="Hình ảnh sách">
                        </div>
                        <div class="btn truncate">{{Title}}</div>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
