<footer class="footer mt-auto py-3" style="background-color: #e7cfb0;">
  <div class="container">
    <span class="text-body-secondary">
        <pre>
            Email : TESTEMAIL@GMAIL.COM
            Số điện thoại : 0000000000
            Địa chỉ : HỌC VIỆN HÀNG KHÔNG VIỆT NAM
        </pre>
    </span>
  </div>
</footer>