{{!-- <header>
    <nav>
        <ul>
            <li>Trang chủ</li>
            <li>Liên hệ</li>
            <input type="text"><button>tìm kiếm</button>
            <li>Giỏ hàng</li>
            <li>Đăng nhập</li>
        </ul>
    </nav>
</header> --}}
<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #e7cfb0;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-5">
          <a class="nav-link fs-4" aria-current="page" href="../home">Trang chủ</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link fs-4" href="/contact">Liên hệ</a>
        </li>
        <form class="d-flex px-5" role="search">
            <input class="form-control me-2" type="search" placeholder="Thông tin sách" aria-label="Search">
            <button class="btn btn-outline-success btn-sm w-50" style="max-width:max-content" type="submit">Tìm kiếm</button>
        </form>
        <li class="nav-item px-5">
          <a class="nav-link fs-4" href="../shopingcart">Giỏ hàng</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link fs-4" href="../login">Đăng nhập</a>
        </li>
      </ul>
    </div>
  </div>
</nav>  
</header>